.singleReviewContainer{
    border: 1px solid var(--fifth);
    border-radius: 15px;
    overflow: hidden;
}
.reviewText{
 
}
.singleReviewHead{
    font-family: var(--secondFont);
    font-weight: 700;
    color: var(--fifth);
    margin-bottom: 1rem;
}
.singleReviewTitle{
    font-family: var(--fifthFont);
    margin-bottom: 1rem;
    color: var(--fourth);
}
.singleReviewDisciption{
    font-family: var(--fifthFont);
    margin-bottom: 1rem;
    font-weight: 500;
    
}